:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainRed:#ed5565;
  --btnBlue:#0d64d7;

}

body{
  font-family: 'Roboto Condensed', sans-serif !important;
  /* font-weight:400!important; */
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

#banner{
  opacity: 0.6;
}

.banner-img{
  background:url(../src/img/banner6.jpg);
  min-height: calc(100-94px)vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/zch3iklmgzphazt3o2ut.jpg); */
  background-position: center;
  background-size: cover;
}

.text-title{
  font-family: 'Roboto', sans-serif;
  /* font-weight: 100!important; */
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1{
  font-family: 'Roboto', sans-serif;
  /* font-weight: 100!important; */
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color:var(--lightBlue);
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius:0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark)!important;
  color:var(--mainWhite)!important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainYellow);
}
.title-color{
  color: #3d7b8a;
}
